<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hourly</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
      size-md="6"
      offset-md="3"
      text-center>
        <h1>
          <i class="wi wi-barometer"></i> Your Hourly Weather Forecast
        </h1>
        <p>Current Position: {{ lat }} / {{ lng }} </p>
  
        <ion-button color="primary" (click)="getForecast()">Get Hourly Forecast</ion-button>
  
        <h1>Hourly Forecast</h1>
      </ion-col>
      <ion-col 
        size-md="6" 
        offset-md="3"
        text-center
        *ngIf="isLoading">
        <ion-spinner name="bubbles" color="primary"></ion-spinner>
      </ion-col>
      <!-- <ion-col 
        size-md="6" 
        offset-md="3" 
        *ngIf="!isLoading && (!forecast | async) as f"
        text-center>
        <p>No forecast found</p>
      </ion-col> -->
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && (hourly | async) as h">
        <ion-list>
          <ion-item-sliding *ngFor="let day of h.hourly.data">
            <!-- #slidingBooking -->
            <ion-item>
              <i [class]="weatherIcon(day.icon)"></i>
              <ion-label>
                <h5>{{ day.time * 1000 | date: 'medium' }}</h5>
                <p>{{ day.summary }}</p>
                <p>{{ day.temperature | number: '1.0-0' }}</p>
              </ion-label>
            </ion-item>
            <!-- <ion-item-options>
              <ion-item-option color="danger" (click)="onCancelBooking(booking.id, slidingBooking)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options> -->
          </ion-item-sliding>
          <!-- <ion-item-sliding *ngFor="let current of f.currently.data">
            <i [class]="weatherIcon(day.icon)"></i>
            <ion-label>
              <h5>{{ current.temperature }}</h5>
            </ion-label>
          </ion-item-sliding> -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
